<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
   <script type="text/javascript">
     ShopifyApp.init({
      apiKey: '<%= API_KEY %>',
      shopOrigin: 'https://bowes-guitars.myshopify.com',
      debug: true
    });
  </script>
</head>
<body>
  <h1>Create a new product here:</h1>
    <form class="" action="<%=APP_URL+'/products'%>" method="post">

        <label for="title">Product Title</label>
        <div class="field">
          <input type="text" name="title" value="">
        </div>

      <label for="vendor">Product Vendor</label>
      <div class="field">
        <input type="text" name="vendor" value="">
      </div>

      <label for="product_type">Product Type</label>
      <div class="field">
        <input type="text" name="product_type" value="">
      </div>

      <label for="price">Product Price</label>
      <div class="field">
        <input type="text" name="price" value="">
      </div>

      <input type="submit" value="Create Product" class="ui button">
    </form>

    <h1>Create a webhook service</h1>
      <form class="" action="<%=APP_URL+'/webhooks'%>" method="post">

          <label for="topic">Topic</label>
          <div class="field">
            <input type="text" name="topic" value="">
          </div>

        <label for="address"> Address</label>
        <div class="field">
          <input type="text" name="address" value="">
        </div>

        <label for="format">Format</label>
        <div class="field">
          <select name="format">
            <option value="json" name="format">JSON</option>
            <option value="xml" name="format">XML</option>
          </select>
        </div>

        <input type="submit" value="Create Webhook" class="ui button">
      </form>
</body>
